{% extends "icondb_base.html" %}
{% block title %}Icon: {{ object.iconType.name }} at {{ object.location }} {% endblock title %}
{% block title2 %}{{ object.iconType.name }} at {{ object.location }} {% endblock title2 %}
{% block list %}
<p>Style: {{ object.style }}</p>
<p>Century: {{ object.century }}</p>
<p>Main Location: <a href="/icon/location/{{ object.locationMaster.id}}">{{ object.locationMaster.commonName }}</a></p>
<p>Location: {{ object.location }}</p>
<p>innovations: {{ object.innovations }}</p>
<p>notes: {{ object.notes }}</p>
<p>elements: <a href="/icon/element/{{ object.element.id }}">{{ object.element.name }}</a></p>
<p>icon type: <a href="/icon/icontype/{{ object.iconType.id }}">{{ object.iconType.name }}</a></p>
<p>style: <a href="/icon/iconstyle/{{ object.iconStyle.id }}">{{ object.iconStyle.name }}</a></p>
<h2>Images</h2>
<ul>
	{% for img in object.photos.all %}
	<li><a href="/icon/image/{{ img.id }}"><img src="{{ img.image.url }}" /></a></li>
	{% endfor %}
</ul>
{% endblock %}
